<span class="row-fluid">
	<span class="span8 offset2">
		<h3 class="text-center">My Trips</h3>
		<% if flash[:notice] %><div class="alert<%= " " + flash[:class] if flash[:class] %>">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<%= flash[:notice] %>
		</div><% end %>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Name</th>
					<th>Waypoints</th>
					<th>Updated</th>
					<th>Options</th>
				</tr>
			</thead>
			<tbody>
				<% @trips.each do |trip| %><tr>
					<td><%= link_to trip.name, trip %></td>
					<td><%= trip.waypoints.length %></td>
					<td><%= trip.updated_at.to_date %>
					<td><b><%= link_to "Edit", edit_trip_path(trip.id) %> | <%= link_to("Delete", trip_path(trip.id), method: :delete, data: { confirm: "Are you sure?" }) %></b></td>
				</tr><% end %>
			</tbody>
		</table>
	</span>
</span>
