<div class="row-fluid">
	<div class="span12">
		<h3 class="text-centered"><%= @trip.name %></h3>
		<h5>Made by <em><%= @trip.user.name %></em></h5>
	</div>
</div>
<div class="row-fluid">
	<div class="span6">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Waypoint</th>
					<th>Latitude / Longitude</th>
				</tr>
			</thead>
			<tbody>
				<% @trip.waypoints.all.each do |w| %>		
					<tr>
						<td><%= w.name %></td>
						<td><p class="muted"><%= w.latitude %>, <%= w.longitude %></p></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<div class="span6 well">
		<div id="map-canvas"></div>
	</div>
</div>
<script type="text/javascript" encoding="utf-8">
	var points;

	function init() {
		var response;
		$.ajax({
			url: "/trip/<%= @trip.id %>/json",
			success: function(data) {
				response = data;
			},
			dataType: "json"
		});
		var mapOptions = {
			mapTypeId: google.maps.MapTypeId.ROADMAP
		};
		var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
		for (var i=0; i<response.length; i++) {
			new google.maps.Marker({
				position: new google.maps.LatLng(i.latitude, i.longitude),
				map: map,
				title: i.name
			});
		}
	}
	google.maps.event.addDomListener(window, 'load', init)
</script>