<div class="row-fluid">
	<div class="span12">
		<h3 class="text-centered"><%= @trip.name %></h3>
		<h5>Made by <em><%= @trip.user.name %></em></h5>
	</div>
</div>
<div class="row-fluid">
	<div class="span6">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Waypoint</th>
					<th>Latitude / Longitude</th>
				</tr>
			</thead>
			<tbody>
				<% @trip.waypoints.all.each do |w| %>		
					<tr>
						<td><%= w.name %></td>
						<td><p class="muted"><%= w.latitude %>, <%= w.longitude %></p></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<div class="span6 well">
		<div id="map-canvas" class="span12"></div>
	</div>
</div>
<script type="text/javascript" encoding="utf-8">
	var points = [];
	var directionsDisplay;
	var directionsService = new google.maps.DirectionsService();
	function setup()
	{
		$.ajax({
			url: "/trip/<%= @trip.id %>/json",
			success: function(data) {
				for (var i = 0; i < data.length; i++)
				{
					points.push({"name": data.name, "latlng": new google.maps.LatLng(data[i].latitude, data[i].longitude)})
				}
				init();
			},
			dataType: "json"
		});
	}

	function init()
	{
		directionsDisplay = new google.maps.DirectionsRenderer();
		var mapOptions = {
			center: new google.maps.LatLng(0, 0),
			zoom: 8,
			mapTypeId: google.maps.MapTypeId.ROADMAP
		};
		var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
		var bounds = new google.maps.LatLngBounds();
		var ap = [];
		for (var i = 0; i < points.length; i++)
		{
			var p = points[i];
			bounds.extend(p.latlng);
			ap.push({"location": p.latlng});
			new google.maps.Marker({
				"name": p.name,
				"position": p.latlng,
				"map": map
			});
		}
		map.fitBounds(bounds);
		directionsDisplay.setMap(map);

		var request = {
			origin: points[0].latlng,
			destination: points[points.length-1].latlng,
			waypoints: ap,
			optimizeWaypoints: true,
			travelMode: google.maps.TravelMode.DRIVING
		};

		directionsService.route(request, function(response, status)
		{
			console.log(status);
			directionsDisplay.setDirections(response);
		});
	}
	google.maps.event.addDomListener(window, 'load', setup)
</script>
