<div class="row-fluid">
	<div class="span4 offset4">
		<% if flash[:notice] %><div class="alert<%= " " + flash[:class] if flash[:class] %>">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<%= flash[:notice] %>
		</div><% end %>
		<%= form_for("login_attempt", :html => {:class => "well"}) do |f| %>
		<%= f.text_field(:name, class: "input-block-level", placeholder: "Username") %>
		<%= f.password_field(:password, class: "input-block-level", placeholder: "Password") %>
		<%= f.submit("Sign in", class: "btn btn-large btn-primary btn-block") %><% end %>
	</div>
</div>
